.main {
  height: 94vw;
  width: 94vw;
  border: 1px solid black;
  max-width: 710px;
  max-height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 33.33%;
}

.cell {
  height: 100%;
  width: 33.33%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
